@tailwind base;
@tailwind components;
@tailwind utilities;

/* For WebKit browsers (e.g., Chrome, Safari) */
/* .flex::-webkit-scrollbar {
    display: none;
  } */
  
  /* For Firefox */
  /* .flex {
    scrollbar-width: none; 
  } 
  */
  
  /* General fallback */
  /* .flex {
    -ms-overflow-style: none; 
  } */